<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace:名称空间-->

<mapper namespace="top.smartliu.mapper.BrandMapper">
    <resultMap id="brandResultMap" type="top.smartliu.pojo.Brand">
        <result column="brand_name" property="brandName"/>
        <result column="company_name" property="companyName"/>
    </resultMap>

    <update id="update">
        update tb_brand
        set brand_name = #{brandName},company_name = #{companyName},ordered = #{ordered},description = #{description},status = #{status}
        where id = #{id}
    </update>
</mapper>